<footer class="bg-primary">
  <div id="footer-logo">
    <a href={% url "list" %}>
        <img src="/media/images/IMG_0562.png" style="width:80px;"/>
    </a>
  </div>
  <div class="footer-content">
      <div>
          <a href="#">
              プライバシーポリシー
         </a>
      </div>
      <div>|</div>
      <div>
          <a href="#">
              利用規約
          </a>        
      </div>
      <div>|</div>
      <div>
          <small>Copyright &copy; 2023 python</small>
      </div>
  </div>
</footer>